* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #ffffff;
  background-color: #8ecae6;
  transition: ease-in-out 1s;
}

h1, p, div {
  text-shadow: 0 0 1px #000000;
}

button {
  transition: ease-in-out .5s;
  cursor: pointer;
}

button:hover,
button:active {
  transform: scale(1.1);
}

/* -------------------- Dark Mode ------------------------- */

.dark-mode-toggle {
  width: 100px;
  height: 55px;
  font-size: 2rem;
}

.dark-mode-toggle:hover {
  cursor: pointer;
}

.dark-mode {
  background-color: #1f2937;
  color: #ffffff;
  font-weight: bolder;
}

.dark-mode img {
  border-color: #ffffff;
}

.dark-mode .sales-buttons {
  border-color: #ffffff;
}

.dark-mode .sales-buttons > button {
  background-color: #b3a0fc;
}

.dark-mode .display-div,
.dark-mode .total {
  background-color: #1f2937;
}

.dark-mode .reset {
  background-color: #b3a0fc;
  color: #1f2937;
}

.dark-mode .container {
  background-color: white;
}

/* ---------------- Main Content -------------------------- */

.flex-col {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 90%;
  border-radius: 10px;
  margin: 50px auto;
  min-width: 320px;
  max-width: 480px;
  background: #111827; */
}

.container {
    width: 90%;
    border-radius: 10px;
    margin: 50px auto;
    min-width: 320px;
    max-width: 480px;
    background: #111827;
    padding: 1.5em; /*added*/
    gap: .5em; /*added*/
    transition: ease-in-out 1s; /*added*/
}

img {
  width: 50%;
  border-radius: 50%;
  border: 5px solid #44354a;
  margin-bottom: 1em;
}

.sales-buttons {
  display: flex;
  width: 60%;
  justify-content: space-between;
}

.sales-buttons > button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9e4770;
  width: 40%;
  min-width: 100px;
  height: 40px;
  font-size: 1.4rem;
  border-radius: 20px;
  border: none;
  text-shadow: 0 0 1px black;
}

.total-text,
.sales-text,
.achievements-text {
  font-size: 1.4rem;
}

.display-div,
.total {
  background: #44354a;
  height: 40px;
  width: 100%;
  padding: 0.5em;
  border-radius: 20px;
  text-shadow: 0 0 1px black;
  overflow: hidden;
}

/* If you want the display-div (fire/stars) to grow with the content add this*/
.display-div {
  min-height: 40px;
  height: auto;
  word-wrap: break-word;
}

.sales-border {
  border: 3px solid #ffffff;
  width: 20em;
  height: 12em;
  margin: 3em auto;
}

.sales-border > div {
  width: 80%;
  margin-bottom: 2em;
}

.reset {
  margin: 0 0 0.75em 0;
  padding: 0.7em 0.8em;
  border-radius: 20px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  max-width: 210px;
}
